.header
  %h1 draft one

.hr

.menu
  %ul#toolbox
    %li
      %button#start Start
    %li
      %button#pause Pause
    %li
      %button#stop Stop
    %li
      %button#reset Start Over
    %li
      %button#settings Settings
    %li
      %button#copy Copy to Clipboard

.editor
  %textarea
